.container {
  background: #000;
  height: 100%;
  padding: 20px;
}

.container h3 {
  font-size: 2rem;
}

.dateAndProducer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  line-height: 2;
  font-size: 1.1em;
}
